@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  .font-poppins {
    font-family: var(--font-poppins);
  }
}

@layer components {
  .container {
    @apply w-full 3xl:!max-w-[2580px] 2xl:!max-w-[100%] xl:!max-w-full lg:!max-w-full md:!max-w-full sm:!max-w-full xs:!max-w-full;
  }
}
